body {
	background: #ddd;

	div {
		margin: 2rem;
		padding: 1rem;
		border: 2px solid #1910b3;
		text-align: center;
		background: #1910b3;

		&.active {          // div.active
			font-size: 3rem;
		}
	}
}